In [1]:
#1. Exercise 1: Create a Jupyter Notebook

In [2]:
#2. Exercise 2: Create markdown cell with title of the notebook

#  Data Science Tools and Ecosystem

In [3]:
#3. Exercise 3 - Create a markdown cell for an introduction and # Exercise 10 - Insert a markdown cell to list Objectives

The notebook:DataScienceEcosystem.ipynb summarizes Data Science Tools and Ecosystem

  **Objectives:**
 - Categories of Data science tools.
 - Languages of Data science tools.
 - Libraries of API's, Dataset and Modules.
 - Jupyter Project
 - Rstudio and GitHub
 - IBM tools for datascience.

In [4]:
#4. Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. Javascript
9. PHP
10. Go
11. Ruby
12. Visual basic

In [ ]:
# Exercise 5 - Create a markdown cell to list data science libraries

Libraries are collection of function and methods that allows you to perform many actions without using the code.
commonly used libraries used by Data Scientists include:
A- Python libraries are:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit learn
6. keras
7. TensorFlow
8. PyTorch
B- Other Languages libraries are:
1. Apache spark
2. Scala libraries
3. Vegas
4. Big DL
C- R libraries are:
1. gg plot
2. dplyr
3. stringR
4. caret
5. plotly

In [5]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

Most famous   three development environment open source tools used in data science are:

|Data Science Tools|
|------------------|
|Jupyter|
|R-studio|
|Appache Zeppelin|

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python
an arthimetic expression is an expression built up using numbers , arithmetic operators such as '+','x','-','/' and parentheses

example: 
(2+3) evalutes to 5  and  

(7-3) evalutes to 4

In [ ]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

In [ ]:
#  Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
# This will convert 200 minutes to hours by diving by 60
min=int(input("enter Minutes: "))
print("Hour:Minute:",int(min/60),":",min%60)

enter Minutes: 200
Hour:Minute: 3 : 20

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
 Anila S